<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div [style.font-size.px]="44" class="m-auto mb-5 mt-5">Almubok</div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="m-auto">
      <button [style.margin-right.px]="30" mat-raised-button [routerLink]="''">Kezdő oldal</button>
      <button mat-raised-button [routerLink] ="'/newAlbum'">Új album létrehozása</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>
<mat-toolbar color="primary" [style.margin-top.px]="30">
  <div class="footer">

  </div>
</mat-toolbar>